[G0]
timername=Estudo
time=3600
timercommand=play /usr/share/sounds/alarm-clock-short-6402.mp3
timerinfo=1h 0m 0s
is_countdown=true
is_utc=false
autostart=false

[others]
nowin_if_alarm=false
use_global_command=false
global_command=
repeat_alarm=false
repetitions=1
repeat_interval=10

